@import url('/css/bootstrap.min.css');

body {
  margin: 0px;
}

.head {
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1008px;
}

.logo {
  padding: 340px 0px 70px;
}

.mouse-icon {
  padding-top: 256px;
}

.about {
  padding: 30px 5px 30px;
}

.services {
  background-image: url('/assets/backgrounds/s_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.services-content {
  padding: 170px 0px 0px;
}

.what-we-do {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  margin: 30px 0px 30px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
}